.custom-button {
  background-color: #ffb400;
  color: black;
  padding: 18px 30px;
  border: none;
  border-radius: 12px;
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 20px;
}

.custom-button:hover {
  background-color: #e6a000;
}
